<div id="main">
    <div class="posts">
        <div class="header">
            <h3>
                Dashboard
            </h3>
        </div>
        <div class="greeting">
            <h2>
                Welcome {{username}}!
            </h2>
        </div>
        {{#if posts}}
            <h4>
                Here are your stories
            </h4>
            <div class="posts_container">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each posts}}
                            <tr class="body_rows">
                                <td><a href="../stories/{{_id}}">{{title}}</a></td>
                                <td>{{createdAt}}</td>
                                <td>{{privacy}}</td>
                                <td><a href="../stories/{{_id}}/edit">edit</a> <a href="../stories/{{_id}}/delete">delete</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <a class="basic_links" href="/stories/add">Add a story</a>
        {{else}}
            <p>
                There are no stories to show
            </p>
            <a href="/stories/add">Create your first Story!</a>
        {{/if}}
    </div>
</div>